
  <h1><%= @location.name %></h1>
  <%= link_to 'Edit', edit_location_path %>
  | <%= link_to 'Delete', location_path, method: :delete, data: {confirm: "Are you sure you want to delete the location '#{@location.name}'? This cannot be undone!"} %>
			  <!-- <div class="location">
			  <h3>City: <%#= @location.city %></h3>
			  <%#= @location.description %><br />
			  <%#= link_to image_tag(@location.image, class: "location"), @location %>
			   -->

			<!-- Rails is smart and knows that if we call render and pass it a Location object, we want it to render the _location partial. Moreover, it knows that our variable in the partial is supposed to be named location. We can now edit the show page again:

			<h1><%= @location.name %></h1>

			<%#= render @location %> -->


  <%= render @location %> 

  
  <h3><%= link_to 'New Event', new_location_event_path(@location) %></h3>

  <h2><%= link_to 'Events', location_events_path(@location) %></h2>
